#centauricms {
    #pagetree {
        .drop-placeholder {
            background-color: $white;
            padding-top: 12px;
            padding-bottom: 12px;
            line-height: 1.2em;
        }
        
        .ui-sortable-helper {
            color: $blackblue;
            font-weight: bold;
        }        
    }
}
