#centauricms {
    .login {
        .wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .title {
                color: $white;
            }

            form {
                background: $white;
                padding: 45px 30px;
                border-radius: 5px;
                box-shadow: 0 0 15px rgba(0, 0, 0, .9);

                .bottom {
                    input {
                        &[type="submit"] {
                            height: 100%;
                            color: $white;
                            border: none;
                            outline: none;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
}
